// $variables
$logo: url('assets/img/logo.svg');
$font: 'Open Sans', sans-serif;
$mobileMenuIco: url('assets/img/menu.svg');
$showIco: url('assets/img/show.svg');
$search: url('assets/img/search-general.svg');
$backBtn: url('assets/img/back-block.svg');
$searchSecond: url('assets/img/search-second.svg');