@import '../../assets/styles/base/mixins';
.back_btn {cursor: pointer;}
.wrap_links_chart {
  display: grid;
  grid-template-columns: repeat(auto-fit, 32.1%);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  margin: 15px 0;
  @include max1199 {
    grid-template-columns: repeat(auto-fit, 30%);
  }
  @include max761 {
    grid-template-columns: repeat(auto-fit, 45%);
  }
  @include max575 {
    grid-template-columns: repeat(auto-fit, 100%);
  }
  > button {
    display: flex;
    flex-direction: column;
    background-color: #2b3768;
    color: #fff;
    line-height: 1.3;
    border: none;
    padding: 0 15px;
    height: 250px;
    &.active {
      color: #65ffe7;
    }
    > span {
      display: flex;
      color: #9eaacc;
      width: 100%;
      height: 65px;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 14px;
      padding: 0 10px;
      letter-spacing: .5px;
    }
    &:disabled {
      opacity: .7;
    }
  }
}

.wrap_charts {
  width: 100%;
  height: 550px;
  background-color: #2b3768;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
