@import '../../assets/styles/base/mixins';
.back_btn {
    cursor: pointer;
}
.wrap_links_chart {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32.1%);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    @include max1199 {
        grid-template-columns: repeat(auto-fit, 30%);
    }
    @include max991 {
        grid-template-columns: repeat(auto-fit, 45%);
    }
    @include max761 {
        grid-template-columns: repeat(auto-fit, 45%);
    }
    @include max575 {
        grid-template-columns: repeat(auto-fit, 100%);
    }
    > a {
        display: flex;
        flex-direction: column;
        background-color: #2b3768;
        color: #fff;
        line-height: 1.3;
        border: none;
        padding-top: 10px;
        overflow: hidden;
        &.active {
            color: #65ffe7;
        }
        > span {
            display: flex;
            color: #9eaacc;
            width: 100%;
            height: 65px;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
            font-size: 14px;
            letter-spacing: 0.5px;
            padding: 18px 10px 0 10px;
        }
        &:disabled {
            opacity: 0.7;
        }
    }
}

.wrap_charts {
    width: 100%;
    height: 750px;
    background-color: #2b3768;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    .period_filter {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        > button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            border-radius: 10px;
            background-color: #32439f;
            //padding: 2px 15px;
            transition: 0.2s;
            border: none;
            color: #fff;
            margin: 0 3px;
            white-space: nowrap;
            opacity: 0.6;
            &.active {
                opacity: 1;
            }
        }
    }
}
