@import '../assets/styles/base/mixins';
nav.mobile_nav {
    height: 0;
    transition: 0.25s;
    overflow: hidden;
    opacity: 0;
    display: none;
    ul {
        width: 100%;
        li {
            > a {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 35px;
                color: #fff;
                padding: 0 15px;
                margin: 10px 0;
                &.active {
                    background: linear-gradient(to right, #1b3a8a, #32439f);
                    color: #fff;
                    font-weight: 400;
                }
            }
            &:first-child {
                > a {
                    margin-top: 0;
                }
            }
            &:last-child {
                > a {
                    margin-bottom: 0;
                }
            }
        }
    }
    &.show {
        display: flex;
        height: 215px;
        margin-top: 12px;
        margin-bottom: 30px;
        opacity: 1;
    }
}
