@import '../../assets/styles/base/mixins';
:host {
    display: flex;
    position: relative;
    background-color: rgba(#234ee2, 0.1);
    &::-webkit-input-placeholder {
        color: #9eaacc;
    }
    &::-moz-placeholder {
        color: #9eaacc;
        opacity: 1;
    }
    &::-ms-input-placeholder {
        color: #9eaacc;
    }
    border-radius: 10px;
    height: 33px;
    padding-right: 15px;
    @include max761 {
        padding-left: 15px;
    }
    @include max575 {
        height: 32px;
        max-width: 100%;
    }
    > input,
    button {
        border: none;
        background-color: transparent;
    }
    > input {
        width: 300px;
        height: 100%;
        color: #9eaacc;
        transition: 0.2s;
        font-size: 14px;
        margin-right: 15px;
        padding-left: 15px;
        &::-webkit-input-placeholder {
            color: #9eaacc;
        }
        &::-moz-placeholder {
            color: #9eaacc;
            opacity: 1;
        }
        &::-ms-input-placeholder {
            color: #9eaacc;
        }

        @include max575 {
            opacity: 0;
            width: 0;
            font-size: 16px;
            display: none;
            &.show {
                display: flex;
                width: 285px;
                opacity: 1;
                margin-right: 15px;
            }
        }
    }

    .search_not_found {
        position: absolute;
        bottom: 90%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding: 5px 15px;
        padding-left: 10px;
        color: #ff5252;
        @include max575 {
            bottom: auto;
            font-size: 13px;
            left: auto;
            right: 40px;
            width: 200px;
            height: 100%;
        }
        @include mobile {
            width: 150px;
        }
    }
}
